.flex-container {
  width: 80vw;
  display: flex;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 12vh 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
}

.cart-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 5vh 0;
}

.cart-product {
  display: flex;
  width: 70%;
  min-height: 5vh;
  align-items: center;
  justify-content: space-between;
}

.total-price {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 5% 0;
  border-top: 1px solid #000;
}

.empty-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delete {
  display: flex;
  align-items: center;
}
