.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.home h1 {
  padding: 10%;
  text-align: center;
}
.feat-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
